{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "babel-plugin-transform-async-to-generator",
    "babel-plugin-external-helpers",
    "transform-runtime",
    "babel-plugin-transform-es2015-modules-commonjs"
  ],
  "comments": false
}
//以下是官网配置，作用是按需加载element-ui
//但是会和extract-text-webpack-plugin冲突，原因未知；
// [
//   "component",
//   {
//     "libraryName": "element-ui",
//     "styleLibraryName": "theme-chalk"
//   }
// ]